  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-tabs">
          <li id='all' role="presentation"><a href="http://localhost:3000/">All Employees</a></li>
          <li id='unemployed' role="presentation"><a href="http://localhost:3000/unemployed">Looking for Work</a></li>
          <li id='employed' role="presentation"><a href="http://localhost:3000/employed">Employed</a></li>
        </ul>
      </div>
    </div>
  </div>
